<section  id="contact" [style.top.px]="top" (click)="cancel($event)">
  <div id="contactMe">
    <h3>new message 
      <span (click)="cancel()">
        &times;
      </span>
    </h3>
    <form #form="ngForm" (ngSubmit)="send(form)" action="#">    

      <!-- EMAIL -->
      <div class="input-group">

        <!-- Email Validation -->
        <div class="alert" *ngIf="email.invalid && (email.touched || email.dirty)">
          <div *ngIf="email.errors.required">
            <p>
              Your email address is required.
            </p>
          </div>
          <div *ngIf="email.errors.pattern">
            <p>
              Please enter a valid email
            </p>
          </div>
        </div>

        <!-- recipients email address  -->
        <input type="email"
         name="email" 
         id="email" 
         placeholder="From"
         [(ngModel)]="message.from"
         #email="ngModel"
         autofocus
         tabindex="1"
         pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" 
         required
         >
      </div>

      <!-- Subject -->
      <div class="input-group">
        <input type="text" 
        name="subject" 
        id="subject" 
        placeholder="Subject"
        [(ngModel)]="message.subject"
        minlength="4"
        maxlength="55"
        autofocus
        tabindex="2"
        >
      </div>

      <!-- Message Validation -->
      <div class="alert" *ngIf="msg.invalid && (msg.touched || msg.dirty)">
        <div *ngIf="msg.errors.required">
          <p>
            You cannot send empty message.
          </p>
        </div>
        <div *ngIf="msg.errors.minlength">
          <p>
            Your message is too short
          </p>
        </div>
      </div>

      <!-- Actual message  -->
      <textarea name="message" 
      id="message" 
      cols="30" 
      rows="10" 
      minlength="2" 
      [(ngModel)]="message.text"
      #msg="ngModel"
      required
      spellcheck="true"
      autofocus
      tabindex="3">
      </textarea>

      <!-- Send Message-->
      <div id="controls">
        <button id="cancel" (click)="cancel()">Cancel</button>
        <input type="submit" 
        value="send" 
        [disabled]="form.invalid ">
      </div>
      
    </form>
  </div>
</section>
