<section (click)="closer($event)" [style.top.px]="top" id="contact">
  <div id="contactMe">
    <h3>new message <span (click)="close()">&times;</span></h3>
    <form action="#">
      <div class="input-group">
        <input type="email" name="email" id="email" placeholder="From">
      </div>
      <div class="input-group">
        <input type="text" name="subject" id="subject" placeholder="Subject">
      </div>
      <textarea name="message" id="message" cols="30" rows="10"></textarea>
      <input type="submit" value="send">
    </form>
  </div>
</section>
