<div id="about">
  <h1 id="about-section">welcome to my website
    <span>here's a little</span>
    <span>About Me</span>
  </h1>
  <div class="card">
    <div class="card-header">
      <!-- photo here  -->
      <img src="https://picsum.photos/300" alt="my image">
      <div id="img-holder"></div>
    </div>
    <div class="card-body">
      <p>
      I am a Junior Web Developer , Programmer, Software Engineer , Computer Science enthusiasts, ect. Looking for an entry
      level job / learner-ship or internship to kick start my career. I am
      Highly motivated, positive, and a hardworker with strong problem solving skills. I always strive towards achieving the
      highest standard possible at any given task. I have excellent communication skills , both Front End and Back End Web
      Development skills, Website Design , UI and UX skills and the ability to relate to a wide range of people.
      </p>
    </div>
  </div>
</div>
<div id="mySkills"></div>
<div id="skills">
  <h3>SKILLS
    <span>I am highly skilled</span>
  </h3>
  <div id="skills-center">
    <div id="left" class="skill">
      <h6 class="skill-header">
        Front end Web Development
      </h6>
      <div class="fe" >
        <p class="progress">
          HTML
        </p>
        <p class="progress">
          CSS
        </p>
        <p class="progress">
          HTML 5
        </p>
        <p class="progress">
          JQUERY
        </p>
        <p class="progress">
          ANGULAR
        </p>
        <p class="progress">
          METEOR
        </p>
        <p class="progress">
          RUBY ON RAILS
        </p>
      </div>
    </div>
    <div id="middle">
      <div class="skill">
        <h6 class="skill-header">
          web development
        </h6>
        <div class="fe">
          <p class="progress">
            Front end web development
          </p>
          <p class="progress">
            Back end web development
          </p>
          <p class="progress">
            Git
          </p>
          <p class="progress">
            source control
          </p>
        </div>
      </div>
      <div class="skill">
        <h6 class="skill-header">
          Back end web development
        </h6>
        <div class="fe">
          <p class="progress">
            PHP
          </p>
          <p class="progress">
            PYTHON
          </p>
          <p class="progress">
            NODE JS
          </p>
          <p class="progress">
            RUBY
          </p>
        </div>
      </div>
    </div>
    <div id="right">
      <div class="skill">
        <h6 class="skill-header">
          Database and db design
        </h6>
        <div class="fe">
          <p class="progress">
            sql
          </p>
          <p class="progress">
            mysql
          </p>
          <p class="progress">
            postgresql
          </p>
          <p class="progress">
            sqlite
          </p>
          <p class="progress">
            mongoDB
          </p>
        </div>
      </div>
      <div>
        <div class="skill">
          <h6 class="skill-header">
            JavaScript
          </h6>
          <div class="fe">
            <p class="progress">
              asynchronous programming 
            </p>
            <p class="progress">
              object oriented programming
            </p>
            <p class="progress">
              Regex
            </p>
            <p class="progress">
              DOM MANIPULATION
            </p>
            <p class="progress">
              REST APIS
            </p>
          </div>
        </div>
        <div class="skill">
          <h6 class="skill-header">
            and many more
          </h6>
          <div class="fe">
            <p class="progress">
              ms word
            </p>
            <p class="progress">
              ms excel
            </p>
            <p class="progress">
              SEO
            </p>
            <p class="progress">
              dynamic programming
            </p>
            <p class="progress">
              HTTP
            </p>
            <p class="progress">
              curl
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
