<section id="about">
  <header>
    <h1>welcome to my website
      <span>here's a little</span>
      <span>About Me</span>
    </h1>
  </header>
  <article>
    <div class="card">
      <div id="img">
        <div>
          <img src="../../../assets/images/wa.jpg" height="300px" alt="">
        </div>
      </div>  

      <p>
        I am a, Junior Web Developer , Programmer, Software Engineer , Computer Science enthusiasts, ect. Looking for an
        entry
        level job / learner-ship or internship to kick start my career. I am
        Highly motivated, positive, and a hardworker with strong problem solving skills. I always strive towards achieving
        the
        highest standard possible at any given task. I have excellent communication skills , both Front End and Back End
        Web
        Development skills, Website Design , UI and UX skills and the ability to relate to a wide range of people.
      </p>
    </div>
  </article>
</section>

<section id="skills">
  <header>
    <h1>My Skills</h1>
    <h2>I am highly skilled at</h2>
  </header>
  <article id="my-skills">
    <div class="row">
      <div>
        <img src="../../../assets//images//1558006425531-1869178066.jpg" width="440px" height="220px" alt="Html iq image">
      </div>
    </div>

    <div class="row">
      <div>
        <img src="../../../assets//images//1558006425531-1869178066.jpg" width="440px" height="220px"  alt="Css iq image">
      </div>
    </div>

    <div class="row">
      <div> 
        <img src="../../../assets//images//1558006425531-1869178066.jpg" width="440px" height="220px"  alt="Javascript iq image">        
      </div>
    </div>
  </article>
</section>