/* .................aboout...... */
#about{
  background: rgb(253, 255, 252);
  color: rgb(1, 22, 39);
  font-family: "Railway";
  padding-top: 4em;
  padding-left: .5em;
  padding-right: .5em;
  padding-bottom: 1em;
  border-top: 16px solid rgba(1, 22, 39, 0.929);
}
#about h1{
  color: inherit;
  text-align: center;
  font-weight: 300;
  font-size: 3.5em;
  max-width: 100%;
  line-height: 1.1em;
  text-transform: uppercase;
}
#about h1 span{
  display: block;
}
#about h1 span:first-child{
  font-size: 24px;
}
#about h1 span:last-child{
  font-size: 32px;
  margin-bottom: 0.5em;
}
.card{
  border-radius: 2px;
  border-width: thin;
  border-color: rgb(204, 204, 204);
  border-style: solid;
  display: flex;
  flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  margin-bottom: 1em;
}
#img{
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#img > div{
  max-width: 300px;
  z-index: 1;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  position: relative;
  border-width: 1px;
  border-color: rgb(204, 204, 204);
  border-style: inset;
  height: 250px;
  box-shadow: 0 2px 10px rgb(102, 102, 102);
}
#img > div::before{
  content: '';
  position: absolute;
  top: 0;left: 0;bottom: 0;right: 0;
  background: rgba(253, 255, 252, 0.502);
  border: 1px solid rgba(253, 255, 252, 0.502);
}
#img >div::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 15%;
  box-shadow: 0 9px 20px rgb(128, 128, 128);
  width: 75%;
  height: 100px;
   z-index: -1; 
}
.card img{
  max-width: 300px;
  height: 100%;
}
.card p{
  flex: auto;
  align-self: center;
  text-align: center;
  padding: 0 1em;
  font-size: 1.8em;
  line-height: 1.5em;
  font-weight: 300;
}
#skills{
  font-family: "Railway";
  border-bottom: 1px solid rgba(1, 22, 39, 0.502);
  letter-spacing: 2px;
  background: rgb(1, 22, 39);
  color: rgb(253, 255, 252);
  font-size: 16px;
  padding: 5em 1em;
}
#skills h1{
  font-size: 2em;
  padding-left: 1em;
  font-weight: 400;
  margin-bottom: 1em;
}
#skills h2{
  font-weight: 300;
  text-align: center;
  margin-bottom: 1.25em;
}
#my-skills{
  padding: 4px;
  display: flex;
  flex-wrap: wrap;
}
.row{
  flex: 25%;
  max-width: 25%;
  padding: 4px;
}
.row > div{
  z-index: 1;
  position: relative;
  border-top-width: thin;
  border-top-style: solid;
  border-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
}
.row > div::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 75%;
  z-index: -1;
  height: 100px;
  box-shadow: 0 5px 20px rgb(0, 0, 0);
}
.row > div img{
  border-radius: 5px;
  vertical-align: middle;
  width: 100%;
  height: auto;
}

/*....MEDIA QUERIES  */

@media (max-width:800px){
  .row{
    flex: 50%;
    max-width: 50%;
  }
}
@media(max-width:736px){
  .card{
    flex-direction: column;
  }
}
@media (max-width:600px) {
  .row {
    flex: 100%;
    max-width: 100%;
  }
}
@media(max-width:320px){
  h1{
    padding: 0;
  }
}