<div id="about">
  <h1 id="about-section">welcome to my website
    <span>here's a little</span>
    <span>About Me</span>
  </h1>
  <div class="card">
    <div class="card-header">
      <!-- photo here  -->
      <img src="https://picsum.photos/300" alt="my image">
      <div id="img-holder"></div>
    </div>
    <div class="card-body">
      <p>
        here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
        form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use
        a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
        All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the
        first true generator on the Internet. It uses a dictionary of over 200 Latin 
      </p>
    </div>
  </div>
</div>
<div id="mySkills"></div>
<div id="skills">
  <h3>SKILLS
    <span>highly skilled in</span>
  </h3>
  <div id="skills-center">
    <div id="left" class="skill">
      <h4 class="skill-header">
        Front end Web Development
      </h4>
      <div class="fe" >
        <p class="progress">
          HTML
        </p>
        <p class="progress">
          CSS
        </p>
        <p class="progress">
          HTML 5
        </p>
        <p class="progress">
          JQUERY
        </p>
        <p class="progress">
          ANGULAR
        </p>
        <p class="progress">
          METEOR
        </p>
        <p class="progress">
          RUBY ON RAILS
        </p>
      </div>
    </div>
    <div id="middle">
      <div class="skill">
        <h4 class="skill-header">
          web development
        </h4>
        <div class="fe">
          <p class="progress">
            Front end web development
          </p>
          <p class="progress">
            Back end web development
          </p>
          <p class="progress">
            Git
          </p>
          <p class="progress">
            source control
          </p>
        </div>
      </div>
      <div class="skill">
        <h4 class="skill-header">
          Back end web development
        </h4>
        <div class="fe">
          <p class="progress">
            PHP
          </p>
          <p class="progress">
            PYTHON
          </p>
          <p class="progress">
            NODE JS
          </p>
          <p class="progress">
            RUBY
          </p>
        </div>
      </div>
    </div>
    <div id="right">
      <div class="skill">
        <h4 class="skill-header">
          Database and db design
        </h4>
        <div class="fe">
          <p class="progress">
            sql
          </p>
          <p class="progress">
            mysql
          </p>
          <p class="progress">
            postgresql
          </p>
          <p class="progress">
            sqlite
          </p>
          <p class="progress">
            mongoDB
          </p>
        </div>
      </div>
      <div>
        <div class="skill">
          <h4 class="skill-header">
            JavaScript
          </h4>
          <div class="fe">
            <p class="progress">
              asynchronous programming 
            </p>
            <p class="progress">
              object oriented programming
            </p>
            <p class="progress">
              Regex
            </p>
            <p class="progress">
              DOM MANIPULATION
            </p>
            <p class="progress">
              REST APIS
            </p>
          </div>
        </div>
        <div class="skill">
          <h4 class="skill-header">
            and many more
          </h4>
          <div class="fe">
            <p class="progress">
              ms word
            </p>
            <p class="progress">
              ms excel
            </p>
            <p class="progress">
              SEO
            </p>
            <p class="progress">
              dynamic programming
            </p>
            <p class="progress">
              HTTP
            </p>
            <p class="progress">
              curl
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
