<header id="main">
  <div id="main-layout">

    <nav [class.scrolled]="scrolled">
      <div id="nav-header">
        <a [class.active]="curLink === '#main'" 
        href="#main" 
        id="nav-brand">
          <i class="fa fa-home"></i>
        </a>

        <button (click)="togCollapse()">
          <div></div>
          <div></div>
          <div></div>
        </button>
      </div>

      <div id="collapse">
        <a [class.active]="curLink === '#about'" href="#bout">About</a>
        <a [class.active]="curLink === '#skills'" href="#skills">Skills</a>
        <a [class.active]="curLink === '#'"  href="#" (click)="contactMe()">Contact</a>
      </div>
    </nav>

    <section id="intro">
      <header>
        <h1>Hello, my name is Siphamandla</h1>
        <div id="content">
          <div id="container">
            <h2>I`m a</h2>
            <div id="fix">
              <div id="main-content">
                <p>Web Developer</p>
                <p>Programmer</p>
                <p>Front-End Web Developer</p>
                <p>Web Designer</p>
                <p>Back-End Web Developer</p>
                <p>Full Stack Web Developer</p>
              </div>
            </div>
          </div>
        </div>
      </header>
    </section>

  </div>
  <button><a href="#about"><i style="font-weight:300" class="fa fa-chevron-down"></i></a></button>
</header>
<div id="bout"></div>