#main{
  height: 100vmin;
  background: url('../../../assets/images/ai-artificial-intelligence-code-34676.jpg') no-repeat center;
  background-size: cover;
  position: relative;
}
#main > button{
  left: 50%;
  font-size: 16px;
  padding: 12px;
  position: absolute;
  bottom: 1em;
  border-radius: 50%;
  font-size: 2em;
  border: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 400ms;
  -webkit-transition-timing-function: ease;
  transition-property: all;
  transition-duration: 400ms;
  transition-timing-function: ease;
  border-bottom: 1px solid #fdfffc;
  background-color: #01162780;
  outline: none;
}
#main > button a{
  color: turquoise;
}
#main > button:hover a{
  color: turquoise;
  color: #011627;
}
#main > button:hover{
  background-color: #fdfffccc;
  border-color: #011627;
}
#main > button:active{
  transform: rotate3d(-180deg);
  border-width: 8px;
  border-color: turquoise;
  background-color: #fdfffc;
}
#main > button i{
  font-weight: lighter;
}
#main-layout {
  font-family: "Comfortaa";
  padding: 0 1em;
  display: flex;
  background: #011627b9;
  height: 100%;
  justify-content: center;
  align-items: center; 
}

/* Navigation bar */
nav {
  padding-top: 1em;
  display: flex;
  position: fixed;
  align-items: baseline;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  flex: auto;
  -webkit-transition: 150ms background-color ease,
  500ms padding ease;
  transition: 150ms background-color ease, 500ms padding ease;
}
nav a {
  color: #FDFFFC;
  padding: 0 1em;
  font-size: 1em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: color 400ms ease;
  transition: color 400ms ease;
}
nav a:hover,
#collapse > button:hover {
  color: #FF9F1C;
}
#collapse > button:hover {
  color: #FF9F1C;
}
#nav-header {
  display: flex;
  justify-content: space-between;
  flex: auto;
  margin-left: 1em;
}
#nav-header > a {
 -webkit-transition: 500ms font-weight ease;
  transition: 500ms font-weight ease;

  font-size: 16px;
}
#nav-header > a i {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  padding: .4em;
  border: 1px solid #fdffcc80;
  background: #011627;
  border-radius: 50%;
  font-size: 2em;
  color: #fdfffccc;
}
#nav-header > a i:hover {
  border-color: #FF9F1C;
  color: #fdfffc;
}
#nav-header > a:active i {
  color: #666;
}

#nav-header > .active i, #collapse > .active{
  color: #ee3d3d;
}
#nav-header>.active i {
  color: #FF9F1C;
}
#nav-header > button {
  display: none; 
  padding: 0.6em .5em;
  padding-top: 0.75em;
  border-radius: 50%;
  background: none;
  border: unset;
  outline: none;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}
#nav-header > button:hover {
  border-color: #FDFFFC;
  color: turquoise;
}
#nav-header > button:active {
  border-color: #ff0000;
  color: #000;
}
#nav-header > button div {
  width: 20px;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
  border: 1px solid #fdfffc;
  border-width: thin;
  margin-bottom: 0.3em;
}
#collapse {
  display: flex;
  flex: auto;
}
#collapse > button {
  font-family: inherit;
  border: none;
  background: unset;
  outline: unset;
  color: inherit;
  padding: 0 1em;
  color: #FDFFFC;
  padding: 0 1em;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: color 400ms ease;
  transition: color 400ms ease;
  cursor: pointer;
}
.scrolled {
  background: #FDFFFC;
  padding-top: 0;
  box-shadow: 0 1px 5px #011627;
}
.scrolled a {
  color: #011627;
  font-size: 1em;
}
.scrolled #nav-header > a i {
  font-size: 1.6em;
  padding: 0.3em;
  margin: 0.3em 0;
  box-shadow: 0 1px 0px #FF9F1C, 0 2px 5px black;
}
.scrolled #nav-header > a:active i {
  color: #ccc;
  box-shadow: none;
}
.scrolled #nav-header > button {
  padding: .75em .65em 0.5em;
  border: 1px solid #011627;
  background: #FDFFFC;
}
.scrolled #nav-header > button div {
  border-color: #011627;
  width: 16px;
}


/* introduction */
#intro{
  border: 1px solid #011627;
  flex-basis: 500px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #011627;
}
#intro h1{
  border: 1px solid #fdfffc80;
  border-width: thin;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 0.5em 0;
  font-size: 2em;
  text-align: center;
  background: #fdfffc80;
  color: #011627bb;
}

#content{
  padding: 1em;
  background-color: #011627c5;
  color: rgba(253, 255, 252, 0.808);
}

#container {
  display: flex;
  font-size: 1.5em;
  justify-content: center;
}
#container h2{
  font-size: 1.5em;
  padding: 8px;
  display: inline-block;
}
#fix {
  position: relative;
  flex: auto;
  overflow: hidden;
  border-left: 1px solid #FF9F1C;
  border-width: thin;
}
#main-content{
  font-family: 'Roboto';
  position: absolute;
  left: 0;
  right: 0;
  font-weight: bold;
  -webkit-animation: slideUp 9s infinite 2s ease-out;
  animation: slideUp 9s infinite 2s ease-out;
  -webkit-transition: position 9s ease-in-out;
  transition: position 9s ease-in-out;
}
#main-content p{
  font-size: 1.5em;
  font-weight: bold;
  padding: 8px;
}
@keyframes slideUp {
  0% {
    top: 0;
  }

  16.67% {
    top: -47.5px
  }

  33.3% {
    top: -95.5px
  }

  50% {
    top: -143.5px;
  }

  66.7% {
    top: -191.5px;
  }

  83.3% {
    top: -239.5px;
  }

  100% {
    top: 0;
  }
}
@media(max-width:567px) {

  #main > button {
    display: none;
  }
  nav {
    align-items: unset;
    flex-direction: column;
    padding-right: .2em 0;
    overflow: hidden;
  }
  #nav-header {
    display: flex;
    margin-left: 0;
    padding: 0.5em 1em;
    justify-content: space-between;
    align-items: baseline;
  }
  #nav-header > button {
    display: initial;
    margin-right: 0;
  }
  #collapse {
    margin-right: 1em;
    display: none;
    padding: 1em 0;
    flex-direction: column;
    text-align: right;
    background: #011627;
    border: thin solid #011627;
    align-self: flex-end;
    -webkit-transition: 300ms margin-right linear;
    transition: 300ms margin-right linear;
    -webkit-animation: 300ms ease-out popUp;
    animation: 300ms ease-out popUp;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    box-shadow: 0 2px 5px #011627;
    border-radius: 5px;
  }
  #collapse > a{
    display: block;
    color: #fdfffc;
    padding: .75em 2em ;
  }
  #collapse > a:hover {
    color: #FF9F1C;
  }
  .scrolled {
    background: none;
    box-shadow: unset;
  }
  .scrolled #nav-header>a i {
    font-size: 2em;
  }
  .scrolled #nav-header>button {
    box-shadow: 0 1px 0px #011627, 0 2px 5px #000;
  }
  @keyframes popUp {
    from {
      margin-right: -50%;
    }
  }
}

@media (max-width:520px){
  #intro{
    margin-top: 4.5em;
  }
  #container{
    font-size: 1em;
    text-align: center;
    flex-direction: column;
    height: 76px;
  }
  #main-content{
    top: -193.5px;
  }
  @keyframes slideUp {
    0% {
      top: 0;
    }

    16.67% {
      top: -39.5px
    }

    33.3% {
      top: -78.5px
    }

    50% {
      top: -117.5px;
    }

    66.7% {
      top: -155px;
    }

    83.3% {
      top: -193.5px;
    }

    100% {
      top: 0;
    }

  }
}