footer{
  background: #1f1f1f;
  padding: 16px;
  padding-top: 2em;
  color: #fdfffc80;
}

nav{
  display: flex;
  flex-wrap: wrap;
  padding: 1em 5em;
  justify-content: space-between;
}

/* hr after nav bar */
nav::after{
  content: '';
  width: 100%;
  border-top-width: thin;
  border-top-style: solid;
  border-top-color: #fdfffc80;
  margin-top: 0.5em;
}

/* footer nav-links */
nav #anchors{
  display: flex;
  flex-direction: column;
}

/* all footer anchor tags */
#anchors a, #contactMe a{
  text-decoration: none;
  color: inherit;
  padding: 8px;
}

/* footer nav-links anchor tags */
#anchors a{
  font-size: 1.3em;
  font-weight: 300;
  padding: 4px;
}

/* footer nav-links hover and icons hover */
#anchors a:hover, i:hover {
  color: #fdfffc;
}

/* contact links icons */
#contactMe{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* contact links icons a */
#contactMe a{
  /* padding: 8px; */
  color: inherit;
}

/* middle icon */
#contactMe a:nth-child(2){
  padding: 8px 16px;
}

p,h4{
  text-align: center;
  padding: 16px;
  font-size: 1.5em;
  font-weight: 300;
}

p a{
  color: inherit;
  text-decoration: none;
}

#icons{
  text-align: center;
  font-size: 2em;
}

/* to top page button */
button{
  display: block;
  margin-left: auto;
  margin-right: .5em;
  background: unset;
  border: unset;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  color: #ca3a41;
  font-size: 2em;
  outline: unset;
}

button:active{
  margin-bottom: 1em;
}

#end{
  padding: 1px;
  background: #011627;
}
