<app-home (contact)="contact($event)"></app-home>

<!-- About Component -->
<app-about ></app-about>

<!-- Contact Component -->
<app-contact (closeContact)="contact($event)"  [hidden]="!isContact"></app-contact>

<!-- footer -->
<footer>
  <nav>
    <!-- footer nav-links -->
    <div id="anchors">
      <a href="#home">Home</a>
      <a href="#about">About</a>
      <a href="#skills">Skills</a>
    </div>

    <!-- contact links icons  -->
    <div id="contactMe">

      <h4>Contact me</h4>

      <div id="icons">
        <!-- linked in -->
        <a href="https://www.linkedin.com/in/pskhonji" target="_blank"><i title="LinkedIn" class="fa fa-linkedin"></i></a>  

        <!-- email -->
        <a href="#" (click)="contact(true)"><i title="Gmail" class="fa fa-envelope"></i></a> 
        
        <!-- github -->
        <a href="https://www.github.com/iamPsk" target="_blank"><i title="Github" class="fa fa-github"></i></a>
      </div>

    </div>

  </nav>

  <p> &copy; 2019. All rights reserved | Designed by <a href="#">Siphamandla Khonjelwayo</a></p>

  <!-- to top page -->
  <button (click)="takeMeHome()" ><i class="fa fa-chevron-up"></i></button>

</footer>
<div id="end"></div>