footer{
  background: rgb(31, 31, 31);
  padding: 16px;
  padding-top: 2em;
  color: rgba(253, 255, 252, 0.502);
}

nav{
  display: flex;
  flex-wrap: wrap;
  padding: 1em 5em;
  justify-content: space-between;
}

/* hr after nav bar */
nav::after{
  content: '';
  width: 100%;
  border-top-width: thin;
  border-top-style: solid;
  border-top-color: rgba(253, 255, 252, 0.502);
  margin-top: 0.5em;
}

/* footer nav-links */
nav #anchors{
  display: flex;
  flex-direction: column;
}

/* all footer anchor tags */
#anchors a, #contactMe a{
  text-decoration: none;
  color: inherit;
  padding: 8px;
}

/* footer nav-links anchor tags */
#anchors a{
  font-size: 1.3em;
  font-weight: 300;
  padding: 4px;
}

/* footer nav-links hover and icons hover */
#anchors a:hover, i:hover {
  color: rgb(253, 255, 252);
}

/* contact links icons */
#contactMe{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* contact links icons a */
#contactMe a{
  color: inherit;
}

/* middle icon */
#contactMe a:nth-child(2){
  padding: 8px 16px;
}

p,h4{
  text-align: center;
  padding: 16px;
  font-size: 1.5em;
  font-weight: 300;
}

p a{
  color: inherit;
  text-decoration: none;
}

#icons{
  text-align: center;
  font-size: 2em;
}

/* to top page button */
button{
  display: block;
  margin-left: auto;
  margin-right: .5em;
  background: none;
  border: none;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  color: rgb(202, 58, 65);
  font-size: 2em;
  outline: none;
}

button:active{
  margin-bottom: 1em;
}

#end{
  padding: 1px;
  background: rgb(1, 22, 39);
}
