/* You can add global styles to this file, and also import other style files */
/* 
color pallets 
https://coolors.co/011627-f71735-41ead4-fdfffc-ff9f1c

https: //coolors.co/0c120c-c20114-6d7275-c7d6d5-ecebf3

https: //coolors.co/0d1b2a-1b263b-415a77-778da9-e0e1dd

https: //coolors.co/011627-fdfffc-2ec4b6-e71d36-ff9f1c

https: //coolors.co/0b132b-1c2541-3a506b-5bc0be-ffffff

*/
@font-face{
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf") format('truetype');
}

@font-face{
  font-family: "Railway";
  src: url("./assets/fonts/Raleway-Regular.ttf") format('truetype');
}

@font-face{
  font-family: "Comfortaa";
  src: url("./assets/fonts/Comfortaa[wght].ttf") format('truetype');
}

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

body {
  /* font-weight: 400;
  font-style: normal; */
  /* display: flex; */
  /* flex-direction: column; */
  font-family: "Roboto";
}


